/* ***** visual ***** */
#bVisual {
    width: 100%; height: 430px;
    background-image: url(../images/boardVisual.jpg);
    background-repeat: no-repeat;
}

#bVisual .sTitle {
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 430px;
}


/* ***** board ***** */
#board {
    width: 100%; height: 1010px;
    background-color: #fff;
}
#board .wrapper {
    width: 1260px; height: inherit;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-top: 120px;
}

/* ** board title ** */
#board .bTit {
    width: 100%; height: 54px;
    margin-bottom: 20px;
}
#board .bTit .tit {
    font-size: 35px;
    color: #666;
    height: 52px;
}
#board .bTit .titBar {
    width: 100%; height: 2px;
    background-color: #aaa;
}

/* ***** writeborad ***** */
.writeboard {
    margin: 70px auto 0;
    width: 890px;
}

.writeboard div{
    margin-top: 15px;
}

.writeboard div .bSubTit {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 10px;
}
.writeboard .btnBox {
    text-align: center;
}
.writeboard .button{
    width: 198px; height: 50px;
    background-color: #007DAB;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}


/* ***** board list ***** */
/* ** list title ** */
#board .boardList .listName {
    width: 100%; height: 54px;
    line-height: 54px;
    background-color: #eee;
    position: relative;
}
#board .boardList .listName span {
    color: #666;
    font-size: 15px;
    position: absolute;
}
#board .boardList .listName .itemTitle {left: 139px;}
#board .boardList .listName .userTitle {left: 890px;}
#board .boardList .listName .dayTitle {right: 172px;}
#board .boardList .listName .countTitle {right: 45px;}

/* ** list ** */
#board .boardList .itemList {
    margin-bottom: 33px;
}
#board .boardList .itemList li {
    width:100%; height: 64px;
    border-bottom: 1px solid #eee;
    position: relative;
}
#board .boardList .itemList li.notice {
    background-color: #fdfdfd;
}
#board .boardList .itemList li p {
    font-size: 13px;
    position: absolute;
    height: 64px; line-height: 64px;
    color: #999;
}
#board .boardList .itemList li .new { color: #FFB741;}

#board .boardList .itemList li .number {
    text-align: center;
    width: 26px;
    left: 40px;
}
#board .boardList .itemList li .number strong {
    color: #007DAB;
    font-weight: bold;
}

#board .boardList .itemList li .item {
    width: 700px;
    left: 139px;
}
#board .boardList .itemList li .item a {
    color: #666;
}
#board .boardList .itemList li .item a:hover {
    text-decoration: underline;
}

#board .boardList .itemList li .userName {
    left: 890px;
    width: 100px;
}

#board .boardList .itemList li .date {
    font-family: 'Nanum Gothic';
    left: 1033px;
    width: 80px;
}

#board .boardList .itemList li .count {
    width: 43px;
    text-align: center;
    right: 45px;
}

#board .readtit{
	font-size : 25px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	line-height: 50px;
}
#board .readtit .nickname {
	float: left;
}
#board .readtit .date {
	float: right;
}

#board .desc {
	width: 100%;
	height: 500px;
	border : 2px solid #aaa;
	border-left: 0;
	border-right: 0;
	box-sizing: border-box;
	padding: 100px 0;
	letter-spacing: 1px;
	line-height: 25px;
}

#board .desc p {
	margin: 0 auto;
}

.readboard .btnBox1 {
    text-align: right;
    margin-top: 30px;
}
.readboard .button{
    width: 198px; height: 50px;
    background-color: #007DAB;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}